<div class="hero-unit">
  <h1>Redditability</h1>
  <p>Redditability is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>ROI: Return on Ignorance</h2>
    <p>Redditability provides the highest ROI of any of the link sharing verticals.</p>
  </div>
  <div class="span4">
    <h2>High-Level Link Sharing Agility</h2>
    <p>Truly synergistic link collectives make this click-and-mortar landing page a killer-app hotspot for energized crowdsourcing.</p>
  </div>
  <div class="span4">
    <h2>War-forged in the Fires of Mt. Doom</h2>
    <p>Redditability is more secure and stable than a nuclear powerplant containment field coded in Fortran</p>
  </div>
</div>